body{
    font-family: 'Courier New', Courier, monospace;

}

.header{
    background-color: gray;
    color: white;
    padding: 20px;
    text-align: center;
}

.navbar{
    display: flex;
    justify-content: space-around;
    color: lightpink;
    padding: 15px;
}

.items{
    flex: 1;
    text-align: center;
    padding: 15px;
    color: white;
}

.main{
    padding: 20px;
}

.footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}